.black-background {
    -fx-background-color: #3d5a40 !important;
    -fx-padding: 20 20 20 20 !important;
    -fx-background-image: none !important;
}

.nav-button {
    -fx-text-fill: white;
    -fx-alignment: CENTER-LEFT;
}

.nav-button:hover {
    -fx-background-color: #4b4e51;
}

.main-content {
    -fx-padding: 20 20 20 20;
    -fx-background-color: white;
    -fx-background-radius: 20;
}


.nav-link {
    -fx-text-fill: white;
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 4 10 12 4;
    -fx-underline: false;
    -fx-border-color: transparent;
    -fx-font-family: "Arial";
    -fx-font-size: 15px;
}
.main-content {
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
}

.content-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #007bff;
}

.table-view {
    -fx-border-color: #ccc;
    -fx-background-color: #f9f9f9;
}
